<!DOCTYPE html>
<html lang="en">
<%- include('Components/Header', { title: 'Unicron - Commands'}) %>

<body class="blue-grey darken-4" style="animation: none; background: none;">
    <%- include('Components/Navbar', { user })%>
    <h2 class="white-text center">Commands</h2>
    <div class="container white-text rounded blue-grey darken-3">
        <br>
        <p data-line-start="6" data-line-end="9">
            <strong>Name</strong>: The name of the command<br>
            <strong>Description</strong>: A brief explanation of the purpose of the command<br>
            <strong>Usage</strong>: The arguments/options that the command takes in parameters
        <ul>
            <li data-line-start="10" data-line-end="11"><code>&lt;&gt;</code> - Required</li>
            <li data-line-start="11" data-line-end="12"><code>[]</code> - Optional</li>
            <li data-line-start="12" data-line-end="13"><code>()</code> - Miscellaneous
                informations</li>
            <li data-line-start="13" data-line-end="15"><code>...</code> - One or more
                arguments</li>
        </ul>
        </p>
        <blockquote>
            <p data-line-start="15" data-line-end="16">You can also do
                <code>help &lt;Command&gt;</code> to get
                more information about a specific command !</p>
        </blockquote>
        <h3 class="white-text center">Moderation</h3>
        <p class="center" data-line-start="21" data-line-end="22"><strong>Moderation</strong>
            commands to
            strict your
            server from rule breakers!</p>
        <table class="responsive-table centered">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Usage</th>
                </tr>
            </thead>
            <tbody>
                <% commands.filter((c) => c.category === 'moderation').map((c) => { %>
                <tr>
                    <td><strong><%- c.name %></strong></td>
                    <td><%- c.description.replace(/\n/g, '<br>') %></td>
                    <td><code><%- c.usage ? c.usage.replace(/</g, '&lt;').replace(/>/g, '&gt;').replace(/\n/g, '<br>') : ''%></code>
                    </td>
                </tr>
                <% }) %>
            </tbody>
        </table>
        <h3 class="white-text center">Settings</h3>
        <p class="center" data-line-start="37" data-line-end="38">Fully
            <strong>Customizable</strong>
            Configurations.
            Configure Unicron's functionality for your
            server.
        </p>
        <blockquote>
            <p data-line-start="39" data-line-end="40">All commands on this category requires
                permission
                level <code>Server Administrator</code></p>
        </blockquote>
        <table class="responsive-table centered">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Usage</th>
                </tr>
            </thead>
            <tbody>
                <% commands.filter((c) => c.category === 'settings').map((c) => { %>
                <tr>
                    <td><strong><%- c.name %></strong></td>
                    <td><%- c.description.replace(/\n/g, '<br>') %></td>
                    <td><code><%- c.usage ? c.usage.replace(/</g, '&lt;').replace(/>/g, '&gt;').replace(/\n/g, '<br>') : ''%></code>
                    </td>
                </tr>
                <% }) %>
            </tbody>
        </table>
        <h3 class="white-text center">Dynamic Text/Voice</h3>
        <p class="center" data-line-start="53" data-line-end="54">This allows users to create
            their own
            text/voice
            Channels to enhance your community environment as your users continue to meet new people.</p>
        <blockquote>
            <p data-line-start="55" data-line-end="56">You can also have a role named
                <code>Dynamic Mod</code> so whoevers has that role has full access to all dynamic channels. like a
                Moderator ;)
            </p>
        </blockquote>
        <table class="responsive-table centered">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Usage</th>
                </tr>
            </thead>
            <tbody>
                <% commands.filter((c) => c.category === 'dynamic').map((c) => { %>
                <tr>
                    <td><strong><%- c.name %></strong></td>
                    <td><%- c.description.replace(/\n/g, '<br>') %></td>
                    <td><code><%- c.usage ? c.usage.replace(/</g, '&lt;').replace(/>/g, '&gt;').replace(/\n/g, '<br>') : ''%></code>
                    </td>
                </tr>
                <% }) %>
            </tbody>
        </table>
        <h3 class="white-text center">Search</h3>
        <p class="center" data-line-start="75" data-line-end="76">Searching commands, what more
            could you
            want?</p>
        <table class="responsive-table centered">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Usage</th>
                </tr>
            </thead>
            <tbody>
                <% commands.filter((c) => c.category === 'search').map((c) => { %>
                <tr>
                    <td><strong><%- c.name %></strong></td>
                    <td><%- c.description.replace(/\n/g, '<br>') %></td>
                    <td><code><%- c.usage ? c.usage.replace(/</g, '&lt;').replace(/>/g, '&gt;').replace(/\n/g, '<br>') : ''%></code>
                    </td>
                </tr>
                <% }) %>
            </tbody>
        </table>
        <h3 class="white-text center">Utility</h3>
        <p class="center" data-line-start="113" data-line-end="114">Some very useful utility
            commands ;)</p>
        <table class="responsive-table centered">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Usage</th>
                </tr>
            </thead>
            <tbody>
                <% commands.filter((c) => c.category === 'utility').map((c) => { %>
                <tr>
                    <td><strong><%- c.name %></strong></td>
                    <td><%- c.description.replace(/\n/g, '<br>') %></td>
                    <td><code><%- c.usage ? c.usage.replace(/</g, '&lt;').replace(/>/g, '&gt;').replace(/\n/g, '<br>') : ''%></code>
                    </td>
                </tr>
                <% }) %>
            </tbody>
        </table>
        <h3 class="white-text center">Miscellaneous</h3>
        <table class="responsive-table centered">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Usage</th>
                </tr>
            </thead>
            <tbody>
                <% commands.filter((c) => c.category === 'misc').map((c) => { %>
                <tr>
                    <td><strong><%- c.name %></strong></td>
                    <td><%- c.description.replace(/\n/g, '<br>') %></td>
                    <td><code><%- c.usage ? c.usage.replace(/</g, '&lt;').replace(/>/g, '&gt;').replace(/\n/g, '<br>') : ''%></code>
                    </td>
                </tr>
                <% }) %>
            </tbody>
        </table>
        <h3 class="white-text center">Fun</h3>
        <table class="responsive-table centered">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Usage</th>
                </tr>
            </thead>
            <tbody>
                <% commands.filter((c) => c.category === 'fun').map((c) => { %>
                <tr>
                    <td><strong><%- c.name %></strong></td>
                    <td><%- c.description.replace(/\n/g, '<br>') %></td>
                    <td><code><%- c.usage ? c.usage.replace(/</g, '&lt;').replace(/>/g, '&gt;').replace(/\n/g, '<br>') : ''%></code>
                    </td>
                </tr>
                <% }) %>
            </tbody>
        </table>
        </p>
    </div>
    <%- include('Components/Footer') %>
</body>

</html>