<!DOCTYPE html>
<html>
<%- include('Components/Header', { title: 'Dashboard - Servers' }) %>

<body>
    <%- include('Components/Navbar', { user }) %>
    <br>
    <h3 class="center white-text">Select a server!</h3>
    <p class="center white-text">
        Not seeing your server? Make sure you have invited the bot to your server!
    </p>
    <div class="row">
        <% guilds.forEach((guild) => { %>
        <div class="col mt-3">
            <div class="rounded-circle border-white hoverable">
                <a href="/dashboard/manage/<%= guild.id%>" class="waves-effect rounded-circle tooltipped" data-position="bottom" data-tooltip="<%- guild.name %>">
                    <img class="rounded-circle"
                        src="<%= guild.icon ? `https://cdn.discordapp.com/icons/${guild.id}/${guild.icon}` : `https://dummyimage.com/128x128/23272A/ffffff.png&text=${encodeURIComponent(guild.name)}` %>"
                        style="width:148px;height:148px;">
                </a>
            </div>
        </div>
        <% }) %>
    </div>
    <%- include('Components/Footer') %>
</body>

</html>