<!DOCTYPE html>
<html>
<%- include('Components/Header', { title: guild.name }) %>

<body style="animation: none;">
    <%- include('Components/Navbar', { user }) %>
    <div class="parallax-container">
        <div class="section no-pad-bot pb-5">
            <div class="container">
                <br><br>
                <br><br>
                <img class="center rounded-circle mx-auto d-block"
                    style="text-align:center;max-width: 148px;height:148px" src='<%- guild.iconURL %>'>
                <h1 class="header center white-text text-lighten-2"><%- guild.name %></h1>
                <div class="row center">
                    <h5 class="header col s12 light">
                        Welcome to the Server Management Panel! <br>
                        With our dashboard everything is easy to setup! <br>
                        Now, Configure Unicron to your awesome preferences!
                    </h5>
                </div>
                <br><br>
            </div>
        </div>
    </div>
    <div class="container">
        <ul class="blue-grey darken-4 tabs tabs-fixed-width z-depth-1 rounded-bottom rounded-top">
            <li class="tab"><a class="white-text" href="#general">General</a></li>
            <li class="tab"><a class="white-text" href="#announcements">Announcements</a></li>
            <li class="tab"><a class="white-text" href="#moderation">Moderation</a></li>
            <li class="tab"><a class="white-text" href="#dynamic">Dynamic Text/Voice</a></li>
        </ul>
        <div id="general" class="col s12 white-text card blue-grey darken-3" style="height: 100%;">
            <form>
                <div class="card-body d-block">
                    <h5 class="white-text center">General Settings</h5>
                    <div class="input-field inline s12">
                        <label for="prefix">Prefix</label>
                        <input id="input_text" type="text" class="white-text" value="<%- settings.prefix %>" id="prefix"
                            name="prefix" maxlength="5" autocomplete="off" spellcheck="false">
                    </div>
                    <div class="card-footer border-0 p-0 blue-grey darken-3">
                        <button type="submit" name="submit" class="btn waves-effect green" href="#">
                            Save<i class="material-icons right">save</i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <div id="announcements" class="col s12 white-text card blue-grey darken-3">
            <form>
                <div class="card-body">
                    <h5 class="white-text center">Announcements</h5>
                    <div class="form-group blue-grey darken-4 card rounded-bottom rounded-top mt-4">
                        <div class="card-body">
                            <div class="card-title center">Welcomer</div>
                            <div class="switch">
                                <label>
                                    OFF
                                    <input type="hidden" value="false" name="welcomeEnabled">
                                    <input type="checkbox" value="true" name="welcomeEnabled"
                                        <%- settings.welcomeEnabled ? 'checked' : '' %>>
                                    <span class="lever" class="right"></span>
                                    ON
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group blue-grey darken-4 card rounded-bottom rounded-top mt-4">
                        <div class="card-body">
                            <div class="card-title center">Farewell</div>
                            <div class="switch">
                                <label>
                                    OFF
                                    <input type="hidden" value="false" name="farewellEnabled">
                                    <input type="checkbox" value="true" name="farewellEnabled"
                                        <%- settings.farewellEnabled ? 'checked' : '' %>>
                                    <span class="lever" class="right"></span>
                                    ON
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer border-0 p-0 blue-grey darken-3">
                        <button type="submit" name="submit" class="btn waves-effect green" href="#">
                            Save<i class="material-icons right">save</i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <div id="moderation" class="col s12 white-text card blue-grey darken-3">
            <form>
                <div class="card-body">
                    <h5 class="white-text center">Moderation</h5>


                    <div class="card-footer border-0 p-0 blue-grey darken-3">
                        <button type="submit" name="submit" class="btn waves-effect green" href="#">
                            Save<i class="material-icons right">save</i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <div id="dynamic" class="col s12 white-text card blue-grey darken-3">
            <form>
                <div class="card-body">
                    <h5 class="white-text center">Dynamic Text/Voice</h5>


                    <div class="card-footer border-0 p-0 blue-grey darken-3">
                        <button type="submit" name="submit" class="btn waves-effect green" href="#">
                            Save<i class="material-icons right">save</i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <script src="/public/js/manage.js">
    </script>
    <%- include('Components/Footer') %>
</body>

</html>